* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

section {
    scroll-margin-top: 55px;
}

nav, header, footer {
    background-color: #00273c;
    color: #f9faf8;
}

.container {
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

/* Buttons */

button {
    background-color: #1580ba;
    color: #f9faf8;
    border: none;
    border-radius: 6px;
    padding: 5px 24px;
}

button:hover {
    background-color: #0d5378;
}

/* Navigation bar */

nav {
    position: sticky;
    top: 0;
}

nav .container {
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* Header */

header .container {
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

header p {
    margin: 8px 0 12px 0;
    max-width: 400px;
}

.hero-img {
    max-width: 425px;
    margin-left: 16px;
}

/* Section 1 - The Mission */

.section-1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

h2 {
    color: #00273c;
    font-size: 36px;
    font-weight: bolder;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}

.icon img, .icon p {
    max-width: 150px;
    text-align: center;
}

.icon img {
    border-radius: 12px;
}

/* Section 2 - Quote About Mars */

.grey {
    background-color: #f2e9cc;
    padding: 60px 0;
}

.section-2 {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
}

.quotee {
    align-self: flex-end;
    margin-top: 16px;
}

/* Section 3 - Join Us*/

.section-3 {
    justify-content: space-around;
    align-items: center;
    background-color: #1580ba;
    margin: 60px auto;
    border-radius: 6px;
    padding: 24px 0;
}

.section-3 p {
    color: #f9faf8;
    margin: 6px 0;
}

.btn-border {
    border-style: solid;
    border-color: #f9faf8;
}

/* Footer */

footer .container {
    justify-content: center;
}