* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
}

/* Navigation bar */
nav {
    background-color: #1f2937;
}

nav .container {
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
}
